# VS Code
.vscode/**
!.vscode/settings.json

# macOS
.DS_Store

# PyTorch model (currently we host the PyTorch models on our server instead of GitHub)
*.pth

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datasets (and explicitly disignore sscma/datasets)
datasets/
!sscma/datasets

# Work directory
work_dirs/

# Python packaging
build/
dist/
*.egg-info/
*.whl

# Symbolic links of sscma
sscma/configs
sscma/tools

# NodeJS
node_modules/

# Docs (VitepPress)
docs/.vitepress/cache
docs/.vitepress/dist

# sscma examples
examples/
