# torch
torch>=1.5.0
torchvision>=0.5.0
torchaudio>=0.5.0
soundfile
tensorboard
scikit-image
scikit-learn

# mmlab
# mmcv-full==1.6.2
mmdet>=2.0.0
mmcls==0.24.0
mmpose==0.29.0
mmengine==0.2.0
openmim

# vision
opencv-python
albumentations>=1.2.1
pyyaml
pillow
pandas
numpy

# export
onnx
onnxruntime-gpu
onnxsim
onnxmltools
tensorflow
